{% load static %}
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'portfolio/custom_css/style.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'portfolio/bootstrap/css/bootstrap.css' %}" type="text/css">
    <script src="{% static 'portfolio/bootstrap/css/bootstrap.js' %}" ></script>
  </head>
  <body>
    <div class="sidenav">
        <div class="hamburger-menu">
            <div class="bar top"></div>
            <div class="bar middle"></div>
            <div class="bar bottom"></div>
        </div>
        <a href="#">Home</a>
        <a href="#">Examples</a>
        <a href="#">Contact</a>
    </div>

    {% block content %}
    {% endblock %}

  </body>
</html>